body {
  min-width: 400px;
  min-height: 600px;
  overflow-x: hidden;
  font-family: sans-serif;
}

img {
  margin: 5px;
  border: 2px solid black;
  vertical-align: middle;
  width: 75px;
  height: 75px;
}

#dataTable .groupRow {
    border-top: solid 1px #ccc;
}

#dataTable .example {
    padding-top: 10px;
}
#dataTable .topicName {
    color: rgb(141, 70, 83);
    font-weight: bold;
    font-size: 1.0em;
}