<!doctype html>
<html>
    <head>
        <title>Topic Trend</title>
        <!--
          - JavaScript and HTML must be in separate files: see our Content Security
          - Policy documentation[1] for details and explanation.
          -
          - [1]: http://developer.chrome.com/extensions/contentSecurityPolicy.html
        -->
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/main.css" />
        <script src="../js/aclient.js"></script>
        <script src="../js/jquery.js"></script>
        <script src="../js/angular.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/newsapp.js"></script>
        <script src="../js/charts.js"></script>
        <script src="../js/highcharts.js"></script>
        <script src="../js/chartobject.js"></script>
    </head>
    <body>
        <div class="container">
            <div id="results" style="text-align: center;">
                <h3> News Topic Analyzer 
                    <a href="settings.html" style="float: right;" class="btn btn-info">Settings</a>
                </h3>

            </div>

            <div style="margin: 0 auto; width: 725px;">
                <div id="timespan" class="btn-group">
                    <h4 style="text-align: center;"> Select a time range </h4>
                    <input id="toDate" type="hidden" value="">
                    <input id="fromDate" type="hidden" value="">
                    <button value="today" class="btn btn-default" type="button">Past 24 Hours</button>
                    <button value="week" class="btn btn-default" type="button">Past Week</button>
                    <button value="month" class="btn btn-default" type="button">Past Month</button>
                    <button value="year" class="btn btn-default" type="button">Past 365 Days</button>
                </div>

                <div id="groupings" class="btn-group" style="margin-left: 20px;">
                    <h4 style="text-align: center;"> Select a grouping </h4>
                    <input id="grouping" type="hidden" value="">
                    <button value="day" type="button" class="btn btn-default">Date</button>
                    <button value="weekDay" type="button" class="btn btn-default">Week Day</button>
                    <button value="week" type="button" class="btn btn-default">Week</button>
                    <button value="month" type="button" class="btn btn-default">Month</button>
                </div>
            </div>
            <div id="container" style="min-width: 600px; max-width: 800px; height: 800px; margin: 0 auto" class="container"></div>
            <div ng-app="dataTable">
                <div ng-controller="dataTableCtrl">
                    <div id="dataTable">
                        <div ng-repeat="(grouping, entries) in report" class="row groupRow" id="group{{grouping}}}">
                            <a name="{{grouping}}"></a>
                            <div class="col-xs-4">
                                <h3 class="grouping">{{grouping}}</h3>
                            </div>
                            <div class="col-xs-8">
                                <div ng-repeat="(topicId, topicEntry) in entries" >
                                    <div ng-if="hasExamples(topicEntry)">
                                        <h4 class="topicName">
                                            {{topics[topicId]}} {{topicId}}
                                        </h4>
                                        <div ng-repeat="urlTitle in topicEntry.examples.split('\n')" class="example">
                                            <span class="exampleTitle">
                                                {{urlTitle.split("||")[0]}}
                                            </span>
                                            <span class="exampleUrl">
                                                <a target="_blank" href="{{urlTitle.split("||")[1]}}">{{urlTitle.split("||")[1]}}</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

